body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.img-size {
    width: 299px;
    height: 311px;
}
h5{
    color: darkslateblue;
}
.card-title{
    text-align: center;
}
h1{
    color: rgb(231, 166, 0);
}
.jumbotron{
    text-align: center;
}